body {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: antiquewhite;
}

.card {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
}

.border-blue {
    display: flex;
    padding-left: 20px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.avatar {
    width: 185px;
    height: 205px;
    border-radius: 20%;
    image-rendering: optimizeQuality;
}