body { 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red_circle {
  background-color: rgb(151, 10, 10);
  border-radius: 50%;
  display: flex;
  width: 300px;
  height: 300px;
  margin: auto;
  padding: auto;
}
