/* UNIVERSAL SELECTOR
* {
  border: 1px solid red;
} */

/********* TEXT SELECTOR =
h1 {
  color: green;
} */

/********* CLASS SELECTOR 
.green {
  color: green;
} 

p.green {
  color: green;
} */

/********* ID SELECTOR 

#header {
  border: 1px solid blue;
} */