* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    margin-bottom: 30px;
}

input {
    margin-bottom: 15px;
    border: 1px inset #454045;
    border-radius: 15px;
    width: 40rem;
    height: 4rem;
}

input::placeholder {
    padding-left: 20px;
}

#group-links {
    display: flex;
    text-align: -webkit-center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin-top: 20px;
    font-size: medium;
    font-weight: 600;
    unicode-bidi: isolate;
}

#group-links div > a {
    color: white;
}

#group-links .googleSearch {
    display: flex;
    background-color: #303134;
    border: 1px inset;
    border-radius: 8px;
    margin: 11px 4px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    width: auto;
    padding: 6px 18px;
    
}

#group-links > .doodles {
    display: flex;
    background-color: #303134;
    border: 1px inset;
    border-radius: 8px;
    margin: auto;
    margin: 11px 4px;
    height: 36px;
    width: auto;
    padding: 6px 18px;
}

#group-links > .notice {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 145px;
}

#group-links > .notice a {
    text-decoration: underline;
}

#addShortCut {
    height: 80px;
    width: auto;
    border: 2px solid black;
    border-radius: 50%;
    background-color: rgb(18, 18, 24);
    margin-top: 80px;
}

#addShortCut > a.button {
    display: flex;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: white;
}

#addShortCut:hover {
    border-color: aquamarine;
    color: azure;
    transition-duration: 300ms;
    transition-property: left, top;
    transition-timing-function: 3ms;
    background-color: #454045;
    overflow: hidden;
}

#addShortCut > a.button > span {
    display: flex;
    margin: auto;
    padding-left: 30px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}

#addShortCut > p {
    margin-top: 45px;
}
