body {
    margin: auto;
    box-sizing: border-box;
}

div {
    background-color: gray;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    
    width: 300px;
    border-radius: 10px;
}
  
div p {
    display: block;
    margin: auto;
    padding: 20px;
}