body {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 92.5%;
    background-color: #223240;
}

header {
    display: flex;
    width: auto;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: center;
    height: 55px;
    justify-content: center;
    background-color: #3B8C66;
    border: 2px inset darksalmon;
}

nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: flex-start;
    border: 2px inset darksalmon;
    justify-content: flex-start;
    background-color: #93D94E;
    content: '';
}

nav::before {
    content: '';
    background: none;

}

nav > ul {
    display: flex;
    flex-direction: row;
    height: 2em;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav > ul li {
    list-style-type: none;
    color: #223240;
    font-weight: 500;
    font-size: 18px;
}

nav > ul li::selection {
    color: #3B8C66;
}

main {
    display: flex;
    flex-direction: column;
    float: right;
    border: 2px solid darksalmon;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 70%;
    background-color: #60BF81;
}

main > article {
    padding: 20px;
    text-align: start;
}

main div > button {
    height: 50px;
    width: 4.5rem;
    border-radius:50%;
    margin: 5px;
    padding: 5px;
}